<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-color: #203544 !important;
            font-family: "Times New Roman",serif !important;}
        h1{
            color: snow;
            text-align: center;
            font-size: 40px !important;
        }
        tbody{color: white !important;}
        h2{color: white;}
        h3{color:white;}
        p{color: honeydew;}
        td{color: white !important;}
        a:link{color: whitesmoke;}
        th{color: cornsilk !important; }
    </style>
    <meta charset="UTF-8">
    <title>Product Bought Unsuccessful.</title>
</head>
<body>
<h1>The product was not able to be bought. We apologize for the trouble. Please try again.</h1>
<p>Click down below to go back to the main page!</p>
<a href="http://localhost:8080/">Main Page</a>

</body>
</html>